/*background-color: #ffff99 , #ccefff;*/
body            { font-family: sans-serif; background-color: #ffffff; }
 h1, h2, h3, h4       { color: #ffd633; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h2              { font-size: 1.2em; }

p               { color: #b30059;}

a {text-decoration: none; color:#86b300; font-size: 1.1em;}
* {
    box-sizing: border-box;
}

img {
    position: relative;
    float: left;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/*#############################*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.g-signin , .signinButtonFacebook {
display:inline-block;
/**other codes**/
}
.cancelbtn , .signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}
.cancelbtn:hover , .signupbtn:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
  width: 50%;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 50%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*#############################*/
/* Navbar css code */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #66ff66;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4CAF50;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #006600;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
/* End Navbar css code */

/* Clearfix (clear floats) */
.enumerate_restaurant_row::after {
    content: "";
    clear: both;
    display: table;
}

.enumerate_restaurant_column {
    float: left;
    padding: 2px;
}

/* Clearfix (clear floats) */
.enumerate_menu_row::after {
    content: "";
    clear: both;
    display: table;
}

.enumerate_menu_column {
    float: left;
    padding: 2px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.signUpCls {
  background-color: #ffffff;
  margin: auto;
  width: 60%;
  border: 1px solid #888;
  padding: 5px;
}
.signInCls {
  background-color: #ffffff;
  margin: auto;
  width: 60%;
  border: 1px solid #888;
  padding: 5px;
}
.pane {position:absolute; left: 25%; border: 2px solid;
    border-radius: 25px; padding: 5px; margin: 5px; border-color: #999999; background-color: #333333; }
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }
