<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
<body>
<h1>Edit Menu Item</h1>
 
<form action="{{ url_for('editMenu', restaurant_id = restaurant_id , menu_id=item.id) }}" method='POST'>
<p>Name:</p>
<input type = 'text' size = '30' name = 'name' placeholder = '{{item.name}}'> <br>
<p>Description:</p>
<input type = 'text' size = '30' name = 'description' placeholder = '{{item.description}}'> <br>
<p>Price:</p>
<input type = 'text' size = '30' name = 'price' placeholder = '{{item.price}}'> <br>
<p>Course:</p>
{% if item.course == 'Appetizier' %}
<input type="radio" name="course" value="Appetizer" placeholder='{{item.course}}' checked> Appetizer <br>
{%else%}
<input type="radio" name="course" value="Appetizer" placeholder='{{item.course}}'> Appetizer <br>
{% endif %}
{% if item.course == 'Entree' %}
<input type="radio" name="course" value="Entree" placeholder='{{item.course}}' checked> Entree <br>
{%else%}
<input type="radio" name="course" value="Entree" placeholder='{{item.course}}'> Entree <br>
{% endif %}
{% if item.course == 'Dessert' %}
<input type="radio" name="course" value="Dessert" placeholder='{{item.course}}' checked> Dessert <br>
{%else%}
<input type="radio" name="course" value="Dessert" placeholder='{{item.course}}'> Dessert <br>
{% endif %}
{% if item.course == 'Beverage' %}
<input type="radio" name="course" value="Beverage" placeholder='{{item.course}}' checked> Beverage 
{%else%}
<input type="radio" name="course" value="Beverage" placeholder='{{item.course}}'> Beverage
{% endif %}
<br><br>
<input type = 'submit' value = 'Edit'>
</form>
<br><br>
<a href= '{{url_for('showMenu', restaurant_id= item.restaurant_id)}}'>Cancel</a>
</body>
</html>