<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type=text/javascript src="{{
  url_for('static', filename='listGridView.js') }}"></script>
	</head>
<body>
<body onload="listViewMenu()">

<div class="topnav">
  <a class="active" href='{{url_for('showRestaurant') }}'>Home</a>
  <a href = '{{url_for('newMenu', restaurant_id = restaurant.id) }}'>Create New Menu</a>
  <div class="topnav-right">
    <a href='{{url_for('showRestaurant') }}'>Login</a>
    <a href='{{url_for('showRestaurant') }}'>Register</a>
  </div>
</div>

</br>

<!-- Buttons to choose list or grid view -->
<button onclick="listViewMenu()"><i class="fa fa-bars"></i> List</button> 
<button onclick="gridViewMenu()"><i class="fa fa-th-large"></i> Grid</button>

<h1>{{restaurant.name}}</h1> <!-- printed code-->

<!--MESSAGE FLASHING EXAMPLE -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<br>

<!-- Checks if menus is defined and with menus checks if its empty or not-->
{% if (menus is defined) and menus %}

<div class="enumerate_menu_row">
	{% for i in menus %} <!-- logic code -->
	<div class="enumerate_menu_column">


	<p name="menu_name"><b>Name:</b> {{i.name}}</p>

	<p><b>Description:</b> {{i.description}}</p>

	<p><b>Price: </b>{{i.price}} </p>

	<p><b>Course: </b>{{i.course}} </p>

	</div>
	{% endfor %}
</div>

{% else %}
<h4>No menus were found for this restaurant! Help by adding!</h4>

{% endif %}

</br></br></br></br></br>
<a href = '{{url_for('showRestaurant') }}'>Go back</a>
</body>
</html>